<launch>
 <arg name="structural" default="true" />
 <arg name="feature" default="false" />
 
 <node type="ogm_server_node" pkg="ogm_server" name="ogm_server" output="screen" args="$(find ogm_resources)/maps/slam_env_1.yaml $(find ogm_resources)/maps/slam_final_1.yaml"/>
  <include file="$(find ogm_gui)/launch/ogm_gui.launch"/>

  <include if ="$(arg feature)"
     file="$(find feature_evaluation)/launch/feature_evaluation.launch"/>

  <include if ="$(arg structural)"
     file="$(find structural_evaluation)/launch/structural_evaluation.launch"/>

</launch>
